{% extends 'partials/base.html'%}
{% load static %}
{% block content %}
         <!--==================== HOME ====================-->
         <section class="home section" id="home">
          <img src="{% static 'assets/images/varanasi-night.jpg'%}"
          srcset="{% static 'assets/images/varanasi-night.jpg' %} 768w,
          {% static 'assets/images/home-bg.jpg' %} 1023w"
          alt="home image" class="home_bg">
          <div class="home_shadow"></div>
          <div class="home_container container grid">
            <div class="home_data">
              <h3 class="home_subtitle">
                Welcome to a Foody and Moody Banaras
              </h3>
              <h1 class="home_title">
                Explore the Hits of a New City
              </h1>
              <p class="home_description">
              </p>
              <a href="#" class="button">
                Start Exploring Now <i class="ri-arrow-right-line"></i>
              </a>
            </div>
            

            <div class="home_cards grid">
              <a href="{% url 'rest:restaurants_by_tag' 'cafe' %}">
                <article class="home_card">
                  <img src="{% static 'assets/images/home-card-cafe.png'%}" alt="home image" class="home_card-img">
                  <h3 class="home_card-title">Cafes</h3>
                  <div class="home_card-shadow"></div>
                </article>
              </a>
              <a href="{% url 'rest:restaurants_by_tag' 'club' %}">
              <article class="home_card">
                <img src="{% static 'assets/images/club.jpg'%}" alt="home image" class="home_card-img">
                <h3 class="home_card-title">Club</h3>
                <div class="home_card-shadow"></div>
              </article>
              </a>

              <a href="{% url 'rest:restaurants_by_tag' 'order-in' %}">
              <article class="home_card">
                <img src="{% static 'assets/images/order-in.jpeg'%}" alt="home image" class="home_card-img">
                <h3 class="home_card-title">Order-In</h3>
                <div class="home_card-shadow"></div>
              </article>
              </a>

              <a href="{% url 'rest:restaurants_by_tag' 'dessert' %}">
              <article class="home_card">
                <img src="{% static 'assets/images/home-card-desserts.jpg'%}" alt="home image" class="home_card-img">
                <h3 class="home_card-title">Desserts</h3>
                <div class="home_card-shadow"></div>
              </article>
              </a>

              <a href="{% url 'rest:restaurants_by_tag' 'restaurant' %}">
              <article class="home_card">
                <img src="{% static 'assets/images/home-card-restaurant.jpg'%}" alt="home image" class="home_card-img">
                <h3 class="home_card-title">Restaurants</h3>
                <div class="home_card-shadow"></div>
              </article>
              </a>

              <a href="{% url 'rest:restaurants_by_tag' 'local' %}">
              <article class="home_card">
                <img src="{% static 'assets/images/home-card-local.jpg'%}" alt="home image" class="home_card-img">
                <h3 class="home_card-title">Locals</h3>
                <div class="home_card-shadow"></div>
              </article>
              </a>

              <a href="{% url 'rest:restaurants_by_tag' 'party' %}">
              <article class="home_card">
                <img src="{% static 'assets/images/home-card-party.jpg'%}" alt="home image" class="home_card-img">
                <h3 class="home_card-title">Party</h3>
                <div class="home_card-shadow"></div>
              </article>
              </a>


            </div>
          </div>
            
         </section>

         <!--==================== ABOUT ====================-->
         <section class="about section" id="about">
          <div class="about_container container grid">
            <div class="about_data">
              <h2 class="section_title">Get to Visit Awesome Places</h2>
              <p class="about_description">
                Want to explore new places?<br>Tired of recommending places?<br>Or even if you are just starting out,
              </p>
              <h2 class="section_subtitle">This Is It.</h2>
            </div>

            <div class="about_image">
              <img src="{% static 'assets/images/about-image.jpg'%}" alt="about-image" class="about_img">
              <div class="about_shadow"></div>
            </div>
          </div>  


         </section>

         <!--==================== REST ====================-->
         <section class="rest section" id="rest">

          <h2>Explore Top Rated By People Round You</h2>


          <div class="rest_container container grid">

            <div class="rest_cards grid">
              {% for restaurant in restaurants %}

                <article class="rest_card">
                  
                  <div class="rest-icons">                  {% for tag in restaurant.tags.all %}
                    
                    <img src="{% static 'assets/images/' %}/{{ tag.name }}.svg" class="rest-icon {{tag.name}}">
                
                  {% endfor %}</div>

                      
                  
                    <div class="rest_info_main">
                      <a href="{% url 'rest:restaurant_detail' restaurant.id %}">
                        <h2 class="rest_card-name">{{ restaurant.name }}</h2>
                      
                      <h3 class="rest_card-address">{{ restaurant.address }}</h3>
                      <p class="rest_card-distance">Distance from College: <span>{{ restaurant.distance }} km</span></p>
                      <ul class="rest_tags">
                        {% for tag in restaurant.tags.all %}
                            <li>{{ tag.name }} | </li>
                        {% endfor %}
                    </ul>
                      </a></div>
                      <div class="rest_rating">
                        <div class="stars">
                          <i class='bx bxs-star' ></i>
                          <i class='bx bxs-star' ></i>
                          <i class='bx bxs-star' ></i>
                          <i class='bx bxs-star' ></i>
                          <i class='bx bxs-star-half' ></i>
                        </div>

                      <h3 class="rest_card-rating">{{ restaurant.rating }}</h3>
                      

                        
                    </div>
                  </a>
                    
                </article>
              {% endfor %}
            </div>
            <div class="rest-buttons">
              <a href="{% url 'rest:add_restaurant' %}">
                <button>Add Restaurant</button>
              </a>
              <!-- View More Button -->
              
                <a href="{% url 'rest:restaurants' %}">
                  <button>View More</button>
                </a>
            </div>

          </div>
          


            
         </section>
         
         <!-- <section class="explore section" id="explore">
            
         </section> -->
         
         <!--==================== JOIN ====================-->
         <!-- <section class="join section" id="sign-out">
            
         </section> -->
{% endblock %}
